.menu-list {
    width: 224px;

    .menu-item {
        height: 42px;
        line-height: 22px;
        margin-left: 0px !important;
        justify-content: flex-start;
        width: 100%;
        font-weight: 600;
        border-radius: 0px;
        border: transparent;
        padding: 10px 8px 10px 16px;
        &.separate {
            border-top: 1px solid rgba(22, 24, 35, 0.12);
        }
        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }
    }
}

.menu-popper {
    padding-bottom: 8px;

    .menu-body {
        overflow-y: auto;
    }
}

// Menu items
.header {
    flex-shrink: 0;
    line-height: 22px;
    position: relative;
    height: 50px;
    margin-top: -8px;
}
.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
