.wrapper {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(229 229 229);
    background-color: var(--white);

    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--default-layout-width);
    height: 100%;
    padding: 0 var(--default-layout-horizontal-spacer) 0 calc(var(--default-layout-horizontal-spacer) - 4px);
}

.logo-link {
    display: flex;
    width: 300px;
}

.action {
    min-height: 36px;
    width: 273.63px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-btn {
    position: relative;
    background-color: transparent;
    font-size: 2.2rem;
    cursor: pointer;
}

.upload {
    display: flex;
    align-items: center;
    border: 1px solid rgba(22, 24, 35, 0.12);
    width: 113.63px;
    height: 100%;
    padding: 0 16px;
}

.upload-btn {
    line-height: 22px;
    font-size: 1.6rem;
    font-weight: 600;
    height: 24px;
}

.user-avatar {
    cursor: pointer;
    display: block;
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 999px;
}

.more-btn {
    font-size: 2rem;
    width: 20px;
    height: 20px;
    background-color: transparent;
    padding: 0 4px;
    cursor: pointer;
}

.menu-items {
    width: 223px;
}

.badge {
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    font-family: var(--font-family);
    background-color: var(--primary);
}
